<%= form_with(model: nutritionist, local: true) do |form| %>
  <% if nutritionist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nutritionist.errors.count, "error") %> prohibited this nutritionist from being saved:</h2>

      <ul>
        <% nutritionist.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
